@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Karla:wght@500&family=Markazi+Text:wght@700&family=Passions+Conflict&family=Roboto&family=Train+One&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    border-radius:5px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
div{
    margin-bottom:5px;
}
h1{
    padding:10px;
    background: lightgreen;
    text-align:center;
}
h3{
    background:lightgray;
    padding:5px;
    text-align:center;
}
footer{
    text-align:center;
}
input{
    padding-left:5px;
    text-align: center;
}
#interest{
    width:100px;
}
#time{
    width:100px;
}
#time_choice{
    padding:2.5px;
    border: 2px solid black;
}
button{
    width:100px;
    background:lightgreen;
}
button:hover{
    background:white;
    color:green;
    cursor: pointer;
}
table{
    border: 1px solid black;
    width: 100%;
    text-align: center;
    padding: 5px;
}
th{
    background:lavender;
}

